.sidebar2 {
    width: 75px;
    height: 920px;
    flex-shrink: 0;
    border-right: 1px solid var(--black-10);
    background: var(--white-100);
    overflow: hidden;
    position: fixed;
    left: 0;
    top: 0;
    transition: width 0.5s ease;
}

.menu-item2 {
    display: flex;
    height: 40px;
    align-self: stretch;
    padding: 10px 0px;
    margin: 10px 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.menu-item2:hover {
    background-color: var(--black-5);
    border-radius: 80px;
}

.menu-item2.active {
    border-radius: 8px;
    background: var(--black-5);
}

.menu-icon2 {
    width: 24px;
    height: 24px;
}

.logo2 {
    width: auto;
    height: 49px;
    padding: 8px 0;
    margin: 50px 0 10px 16px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.shapes-menu {
    position: absolute;
    top: 50px;
    left: 100px;
    background-color: #f3e6ff;
    border: 1px solid #d1c4e9;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 100;
}

.shapes-menu-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
    color: #6a1b9a;
}

.shapes-menu-item {
    margin: 5px 0;
    cursor: pointer;
    padding: 5px;
    border-radius: 3px;
    transition: background-color 0.3s;
    color: #6a1b9a;
}

.shapes-menu-item:hover {
    background-color: #e1bee7;
}

.shapes-menu-config {
    margin-top: 10px;
}

.shapes-menu-config label {
    display: block;
    margin-bottom: 5px;
    color: #6a1b9a;
}

.shapes-menu-config input {
    width: 100%;
    padding: 5px;
    margin-top: 2px;
    margin-bottom: 10px;
    border: 1px solid #d1c4e9;
    border-radius: 3px;
    box-sizing: border-box;
    background-color: #f3e6ff;
    color: #6a1b9a;
}

.drawing-options {
    position: absolute;
    top: 150px;
    /* Adjust to align with the draw icon */
    left: 75px;
    /* Positioning it right beside the sidebar */
    background-color: #f3e6ff;
    border: 1px solid #d1c4e9;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 100;
}

.drawing-options-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
    color: #6a1b9a;
}

.drawing-options label {
    display: block;
    margin-bottom: 5px;
    color: #6a1b9a;
}

.drawing-options input {
    width: 100%;
    padding: 5px;
    margin-top: 2px;
    margin-bottom: 10px;
    border: 1px solid #d1c4e9;
    border-radius: 3px;
    box-sizing: border-box;
    background-color: #f3e6ff;
    color: #6a1b9a;
}