.headerText {
    color: var(--EIG-purple-adaption, #532E8F);

    /* Heading/XXL */
    font-family: Futura;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    /* 125% */
    top: 105px;
    left: 146px;
    position: absolute;
}
 
.text {
    color: #000;

    /* Body/M */
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
    width: 505px;
    top: 154px;
    left: 146px;
    position: absolute;

}

.diagramText {
    color: var(--EIG-purple-adaption, #532E8F);

    /* Heading/S */
    font-family: Futura;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    /* 142.857% */

    left: 163px;
    position: absolute;

}

.exerciseNumber {
    color: var(--Dark-Deep-purple, #1E154C);

    /* Heading large */
    font-family: "Open Sans";
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.72px;
    position: absolute;
    right: 560px;
}

.exerciseDescription {
    width: 510px;
    color: #000;
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    /* 142.857% */
    position: absolute;
    right: 81px;
}

.introWorksheet {
    display: inline-flex;
    align-items: flex-start;
    gap: 16px;
    background: #FCFCFA;
    box-shadow: 0px -1px 0px 0px rgba(0, 0, 0, 0.10) inset;
}

.intro {
    display: flex;
    padding: 14px 16px;
    align-items: flex-start;
    gap: 10px;
    background: #FCFCFA;
    border: none;

}

.introTxt {
    color: var(--Neutral-100, #0A0A0A);

    /* Text M/Medium */
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    /* 142.857% */
    letter-spacing: -0.084px;
}

.worksheet {
    display: flex;
    padding: 14px 16px;
    align-items: flex-start;
    gap: 10px;
    background: #FCFCFA;
    box-shadow: 0px -3px 0px 0px #483D8B inset;
    border: none;
}

.worksheetTxt {
    color: var(--Neutral-100, #0A0A0A);

    /* Text M/Medium */
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    /* 142.857% */
    letter-spacing: -0.084px;
}


.graphContainer {
    width: 1149px;
    height: 712px;
    flex-shrink: 0;
    top: 1067px;
    left: 163px;
    position: absolute;
}

