.tool-library-page {
    display: flex;
    /*flex-direction: horizontal;
    /* align-items: center; */
    justify-content: center;
    min-height: 100vh;
    background: var(--Light, #F1F1F4);
}

.card {
    display: flex;
    flex-direction: column;
    width: 499px;
    height: 308px;
    background: var(--Blank, #FFF);
    /* Using CSS variable with fallback */
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 16px;
    margin: 10px;
}

.snakeBackground {
    background: var(--Accent, #DEDDE4);
}