.tool-library-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Center children horizontally */
    justify-content: center;
    /* Center children vertically */
    min-height: 100vh;
    /* Full viewport height, adjust as necessary */
    /* Full width */
    background: var(--Light, #F1F1F4);   
}

.card {
    display: flex;
    flex-direction: column;
    width: 499px;
    height: 308px;
    background: var(--Blank, #FFF);
    /* Using CSS variable with fallback */
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 16px;
    margin: 10px;
}

.snakeBackground {
    background: var(--Accent, #DEDDE4);
}