.process-line-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15vh;
  padding: 0 15%;
  box-sizing: border-box;
}

.process-line-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: flex-start;
  position: relative;
  top: 1.5em;
}

.process-line-text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.process-line-text {
  color: var(--Dark-Deep-purple, #1E154C);
  text-align: center;
  font-family: Futura;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2em;
  letter-spacing: -0.05em;
}

.process-line-wrapper {
  width: 100%;
  position: relative;
  margin-top: 2em;
}

.process-line {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 0.05em;
  background-color: #9E9E9E;
  position: relative;
}

.process-circle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.process-circle-placeholder svg {
  width: 45px;
  height: 45px;
}

.process-line-add-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-left: 1.8em;
}

.process-line-add {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  background-color: #D6D3E3;
  border-radius: 50%;
  border: 0.15em solid #9B95B5;
  position: relative;
  top: 0.62em;
}

.add-icon {
  color: #908DA0;
  font-family: Inter;
  font-size: 1.5em;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.add-text-wrapper {
  margin-top: 10px; /* Add margin to move the text down */
}

.add-text {
  color: #908DA0;
  font-family: Inter;
  font-size: 0.75em;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 0.4em;
}

.curved-section {
  position: absolute;
  width: 2em;
  height: 4.0em;
  border-right: 0.07em solid #9E9E9E;
  border-bottom: 0.07em solid #9E9E9E;
  border-top: 0.07em solid #9E9E9E;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  top: 0em;
  left: calc(100%);
  animation: curvedSectionAnimation 5s forwards;
}

.straight-section {
  position: absolute;
  width: calc(100% - 1.5em);
  height: 0.05em;
  background-color: #9E9E9E;
  top: 3.95em;
  right: calc(0%);
  animation: straightSectionAnimation 5s 5s forwards;
}

.second-curved-section {
  position: absolute;
  width: 2em;
  height: 4.0em;
  border-left: 0.07em solid #9E9E9E;
  border-bottom: 0.07em solid #9E9E9E;
  border-top: 0.07em solid #9E9E9E;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  top: 3.95em;
  left: calc(0%);
  animation: curvedSectionAnimation 5s forwards;
}

.second-straight-section {
  position: absolute;
  width: calc(100% - 1.5em);
  height: 0.05em;
  background-color: #9E9E9E;
  top: 7.85em;
  right: calc(0%);
  animation: straightSectionAnimation 5s 5s forwards;
  display: flex;
  justify-content: space-evenly; /* Ensure circles are evenly spaced */
  align-items: center;
}

.third-curved-section {
  position: absolute;
  width: 2em;
  height: 4.0em;
  border-right: 0.07em solid #9E9E9E;
  border-bottom: 0.07em solid #9E9E9E;
  border-top: 0.07em solid #9E9E9E;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  top: 7.90em;
  left: calc(100%);
  animation: curvedSectionAnimation 5s forwards;
}

.third-straight-section {
  position: absolute;
  width: calc(100% - 1.5em);
  height: 0.05em;
  background-color: #9E9E9E;
  top: 11.80em;
  right: calc(0%);
  animation: straightSectionAnimation 5s 5s forwards;
}

.fourth-curved-section {
  position: absolute;
  width: 2em;
  height: 4.0em;
  border-left: 0.07em solid #9E9E9E;
  border-bottom: 0.07em solid #9E9E9E;
  border-top: 0.07em solid #9E9E9E;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  top: 11.80em;
  left: calc(0%);
  animation: curvedSectionAnimation 5s forwards;
}

.fourth-straight-section {
  position: absolute;
  width: calc(100% - 1.5em);
  height: 0.05em;
  background-color: #9E9E9E;
  top: 15.75em;
  right: calc(0%);
  animation: straightSectionAnimation 5s 5s forwards;
  display: flex;
  justify-content: space-evenly; /* Ensure circles are evenly spaced */
  align-items: center;
}

.second-add-wrapper {
  margin-left: 1.8em;
}

.circle-container {
  display: flex;
  justify-content: space-between;
  width: 90%;
  position: relative;
  top: 25em;
  left: 30%;
  transform: translateX(-50%);
}

.addCircle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 12%;
}

.process-circle svg {
  width: 45px;
  height: 45px;
  flex-shrink: 0;
}

.circle-text {
  color: var(--Primary-Brand, #483D8B);
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  margin-top: 0.5em;
}

.red-circle svg {
  fill: #FAE2E2;
  stroke-width: 2px;
  stroke: #CD2626;
}

.yellow-circle svg {
  fill: #FDEDBF;
  stroke-width: 2px;
  stroke: #F9BB00;
}

.blue-circle svg {
  fill: #D4EDED;
  stroke-width: 2px;
  stroke: #049F9F;
}

.purple-circle svg {
  fill: #8882A5;
  stroke-width: 2px;
  stroke: #5A4F91;
}

.bottom-bar {
  width: 70%;
  height: 20px;
  border-radius: 10px;
  background: #D9D9D9;
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translateX(-50%);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Media queries for different screen sizes */
@media (max-width: 1200px) {
  .process-line-header {
    width: 60%;
  }
  .circle-container {
    width: 70%;
    top: 600px;
    left: 50%;
    transform: translateX(-50%);
  }
  .bottom-bar {
    width: 80%;
  }
}

@media (max-width: 992px) {
  .process-line-header {
    width: 50%;
  }
  .circle-container {
    width: 60%;
    top: 550px;
    left: 50%;
    transform: translateX(-50%);
  }
  .bottom-bar {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .process-line-header {
    width: 40%;
  }
  .circle-container {
    width: 50%;
    top: 500px;
    left: 50%;
    transform: translateX(-50%);
  }
  .bottom-bar {
    width: 80%;
  }
}

@media (max-width: 576px) {
  .process-line-header {
    width: 80%;
  }
  .circle-container {
    width: 80%;
    top: 450px;
    left: 50%;
    transform: translateX(-50%);
  }
  .bottom-bar {
    width: 80%;
  }
}
