.progress-container {
    width: 90%;
    height: 15px;
    background-color: #eee;
    border-radius: 10px;
    margin-top: 10px;
    position: absolute;
    top: 460px;
    margin-left: 20px;
    /* Adjust space between snake and progress bar */
}

.progress-bar {
    height: 100%;
    background: var(--logofinal1, linear-gradient(270deg, #483D8B 0.04%, #EE7A7A 28.16%, #F6CF56 73.68%, #75C7C5 106.7%));
    /* Match your primary brand color or any color you prefer */
    border-radius: 100px;
    width: 500px;
    padding-left: 1px;
    transition: width 0.3s ease;
}

.progress-text {
    color: var(--Darks, #1C1735);
    text-align: right;
    font-family: Futura;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    text-transform: uppercase;
    margin-top: 5px;
}